@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto+Slab&display=swap');

/*--------------------------------------------------Typography*/
body{
    font-family: 'Merriweather', sans-serif;
}

.text1{
    
    font-family: 'Roboto Slab', serif ;
    text-align: left;
    
}
.text1 h4{
    line-height: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
}

/*--------------------------------------------------Colors*/
body{
    background-color: #f8f5f0;
}


/*--------------------------------------------------Nav*/
.navbar{
    min-height: 75px;
    background-color: #654435;

}
.navbar .nav-link{
    font-family: 'Roboto Slab', serif ;
    font-weight: 500;
    font-size: 0.9rem;
    color: #fafafa;
}
.nav-link:hover{
    transition: .4s;
    color: #ebc57f ;
    text-decoration: none;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #ebc57f;
    border:none;
    display: flex;
    flex-direction: column-reverse;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}
.active{
    text-decoration: underline;
}


/*--------------------------------------------------Carousel*/
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.carousel-item{
    max-height: 100%;
}

.carousel-link{
    font-size: 1.5rem;
    color: #fafafa;
    text-decoration: none;
}

.carousel-link:hover{
    transition: .4s;
    color: #ebc57f ;
    text-decoration: underline;
}
/*--------------------------------------------------Buttons*/
.btn{
    background-color: #654435;
    border-radius: 1.9rem;
    color: #ebc57f;
    height: 2.5rem;
    width: 9rem;
}
.btn:hover{
    background-color: #ebc57f;
    border-radius: 1.9rem;
    color: #654435;
    height: 2.5rem;
    width: 9rem;
}

/*--------------------------------------------------Cards*/
.card-title{
    color: black;
    margin-top: 30%;
    text-align: center;
    font-size: 3rem;
}

.soar{
    width: 100%;
    height: 400px;
    margin: 0;
}

/*--------------------------------------------------Jumbotrons*/
.jumbotron{
    text-align: center;
    margin-top: auto;
    padding-top: 2em;
    padding-bottom: 0;
}
.jumbotron h1{
    font-size: 1.8rem;
}

/*--------------------------------------------------Footer*/

footer {
    background-color: #654435;
    color: #ebc57f;
    min-height: 120px;
    margin: 0;
    padding-top: 1rem;
    
}
.copyright{
    text-align: center;
}
.social {
    text-align: center;
}
.fa{
    color: #fafafa;
}
.fa:hover{
    color: #ebc57f;
}
.list-inline-item a{
    text-decoration: none;
    color: #fafafa;
}
.list-inline-item a:hover{
    color: #ebc57f;
}

/*--------------------------------------------------Special Paddings*/
.containerpl{
    padding-top: 13rem;
    padding-bottom: 5rem;
}

.tandc{
    padding-top: 13rem;
    padding-bottom: 13rem;
}
.text1 {
    
    padding: 2rem 4rem;
}
.padtop{
    padding-top: 1rem; 
    padding-bottom: 1rem;   
}

/*--------------------------------------------------Images*/
.headshot{
   width: 170px;
   height: 170px;
   border-radius: 50%;
}
/*--------------------------------------------------Google maps*/
.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

/*--------------------------------------------------Forms*/
.field{
    padding-top: 1rem;
    margin-top: 4px;
}
.btnform {
    padding-bottom: 2rem;
}
.btnform{
    padding-bottom: 2rem;
}
.diaplay-4{
    font-size: 1.6rem;
}
.fa{
    font-size: 1rem;
}
.list-inline-item{
    font-size: 0.5rem;
}
.cardsltd h3{
    font-size: 1rem;
    text-align: center;
}
.col-6 {
    display: block;
    text-align: center;
    padding-bottom: 0;
    margin: 0 auto;
}
.aboutpad{
    padding-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0 auto;
}
/*--------------------------------------------------Media Querys*/
@media only screen and (min-width: 48rem) {
    .display-4{
        font-size: 2.5rem;
    }
    .fa {
        font-size: 1.3rem;
    }
    .list-inline-item{
        font-size: 0.8rem;
    }
    .soar{
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }
    .card-title{
    color: black;
    margin-top: 20%;
    text-align: center;
    font-size: 3rem;
    }
    footer{
        padding-top: 1rem;
    }
    .center{
        max-height: 30rem;
    }
    .aboutpad{
     padding-top: 3rem;
     padding-bottom: 1rem;
 }
}
@media only screen and (min-width: 93rem) {
  body {
    min-width: 90%;
  }
  .cardsltd{
      padding: 4rem;
  }
  .col-6 h4 h5{
      margin: 0 auto;
  }
 form{
     padding-top: 4rem;
 }
 .center{
     max-height: 30rem;
 }
 .aboutpad{
     padding-top: 4rem;
     padding-bottom: 1rem;
 }
 .card-title{
    color: black;
    margin-top: 15%;
    text-align: center;
    font-size: 3rem;
    }
}


