
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto+Slab&display=swap');

/*--------------------------------------------------Typography*/
body{
    font-family: 'Merriweather', sans-serif;
}

    

/*--------------------------------------------------Colors*/



/*--------------------------------------------------Nav*/
.navbar{
    min-height: 75px;
    
}
.navbar .nav-link{
    font-size: 0.9rem;
}

/*--------------------------------------------------Carousel*/
.carousel-item{
    max-height: 400px;
}

.carousel-link{
    font-size: 20px;
    color: #fafafa;
    text-decoration: none;
}
.carousel-link:hover{
    transition: .4s;
    color: #fafafa ;
    background-color:rgba(52,58,64,0.7);
    border-radius: 8px;
    text-decoration: none;
}

/*--------------------------------------------------Cards*/
.card-title{
    color: gray;
    margin-top: 10%;
    text-align: center;
    font-size: 50px;
}
.soar{
    width: 100%;
    height: 400px;
    margin: 0;
}

/*--------------------------------------------------Jumbotrons*/
.jumbotron{
    text-align: center;
    margin-top: auto;
    padding-top: 2em;
    padding-bottom: 2rem;
}

/*--------------------------------------------------Footer*/

footer {
    background-color: #f8f5f0;
    color: darkslategray;
    min-height: 120px;
    margin: 0;
    padding-top: 2rem;
    
}
.copyright{
    text-align: center;
}
.social {
    text-align: center;
}

/*--------------------------------------------------Media Querys*/

@media only screen and (min-width: 93rem) {
  body {
    min-width: 90%;
  }
}